* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
  scroll-behavior: smooth;
  transition: 0.5s all;
  list-style: none;
}
html,
body {
  overflow-x: clip;
  height: 100%;
}
:root {
  --body_color: #fff;
  --primary_color: #000000;
  --bg_color: #fff;
  --sidemenu_color: #fff;
  --menu_items_color_hover: #ff6600;
  --menu_items_color: rgb(36, 36, 36);
  --foot-color: #fff;
  --border1-color: 0.1rem solid #c0c0c0;
  --shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --submain-color: #ff9e0026;
  --icon-color: #666;
  --primary_color1: #b4b4b4e0;
  --primary_color2: #e4e4e4;
  --text_color_head: #2e2e2e;
  --text_color_para: #3c3c3c;
  --profile-color-hover:rgb(50, 50, 50);
  --signout-color:rgba(198, 198, 198, 0.287);
}
body {
  background: var(--bg_color);
  color: #fff;
  min-height: 100vh;
  width: 100%;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
.dark_theme {
  --body_color: #000000;
  --shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --primary_color: #fff;
  --bg_color: #2c2d31;
  --sidemenu_color: #141414;
  --menu_items_color: #ff6600;
  --menu_items_color: #fff;
  --foot-color: #1a1b1e;
  --border1-color: 0.1rem solid #3f3f3f;
  --shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --submain-color: #2c2d31;
  --icon-color: #c4c3c3;
  --primary_color1: #1a1b1e;
  --primary_color2: #2c2d31;
  --text_color_head: #fff;
  --text_color_para: #d7d7d7;
  --profile-color-hover:rgb(184, 184, 184);
  --signout-color:rgba(255,255,255,0.05);
}
#btn-up {
  bottom: 20px;
  position: fixed;
  right: 10px;
  z-index: 1000;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: none;
  outline: none;
  transition: opacity 0.6s ease;
  opacity: 0;
  background-color: var(--primary_color);
}
#btn-up i {
  font-size: 1.3rem;
  align-items: center;
  color: var(--body_color);
}
#btn-up:hover {
  cursor: pointer;
  scale: 0.9;
  transition: scale 0.4s ease;
  /* background-color: #5A00B5; */
}

/* Home page */
#head{
  height: 84px;
  padding:0 2rem;
  background-color:#000000;
  display: flex;
  align-items: center;
  position:fixed;
  top: 0;
  left: 0;
  right:0;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: all 0.3s ease;
  justify-content: space-evenly;
  /* text-align: center; */
}
.Es-logo:hover{
  cursor: pointer;
}
.sidebar{
  font-size: 21px;
  height: 26px;
  color:#fff;
  position: relative;
  display: flex;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: border-color 0.3s;
  padding: 5px 10px;
  align-items: center;
  justify-content: center;
}
.sidebar:hover{
  border: 1px solid  #fff;
  background-color: #d6d6d61a;
  opacity: 0.7;
  cursor: pointer;
}
.sidebar.active{
  border: 1px solid hsla(0, 0%, 51%, .6);
}

.Es-logo{
  font-size: 45px;
}
.brand-name{
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  position: relative;
  right: 6px;
}

.panel2{
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 35px;
}
.panel2 a{
  text-decoration: none;
  font-weight: 600;
  display: block;
  color: #c7c6c6;
  font-size: 15px;
}
.panel2 a i{
  padding-right: 4px;
}
.panel2 a:hover{
  cursor: pointer;
  color: #fff;
}
.home a{
  position: relative;
  transition: color 0.4s ease;
}
.home a::after{
  position: absolute;
  content: "";
  height: 3px;
  background-color: #fff;
  bottom: -9px;
  transition:width 0.6s ease;
  border-radius: 2rem;
  left: 0;
  width: 0;
}
.home a:hover::after{
  width: 110%;
}
.home a.active::after{
  content: "";
  height: 3px;
  background-color: #fff;
  bottom: -9px;
  transition: width 0.3s ease;
  border-radius: 2rem;
  width: 110%;
  position: absolute;
  left: 0;
}
.home a.active{
  color:#fff;
}
.about a{
  position: relative;
  transition: color 0.4s ease;
}
.about a::after{
  position: absolute;
  content: "";
  height: 3px;
  background-color:#fff;
  bottom: -9px;
  transition:width 0.6s ease;
  border-radius: 2rem;
  left: 0;
  width: 0;

}
.about a:hover::after{
  width: 110%;
}
.about a.active::after{
  content: "";
  height: 2.5px;
  background-color: #fff;
  bottom: -9px;
  transition: width 0.3s ease;
  border-radius: 2rem;
  width: 112%;
  position: absolute;
  left: 0;
}
.about a.active{
  color: #fff;
}
.panel3{
  display: flex;
  align-items: center;
  width: 35rem;
  border: 1px solid hsla(0, 0%, 51%, .6);
  height: 40px;
  border-radius: 8px;
  transition: 0.4s ease;
}

.panel3:hover{
  border:1px solid #5A00B5;
  scale: 1.004;
}
.panel3 i{
  color: rgb(249, 247, 247);
  font-size: 17px;
  padding-left: 15px;
}

.panel3 .search-btn input{
  width: 31rem;
  outline: none;
  background: #000000;
  border: none;
  color: #fff;
  padding-left: 10px;
  height:38px;
}
.panel3 .search-btn input::placeholder{
  font-size: 13px;
  position: relative;
  bottom: 2px;
}
.panel4{
  display: flex;
  align-items: center;
  gap: 18px;
}
.language{
  height: 35px ;
  width: 35px;
  padding: 3px 5px ;
  border-radius: 50%;
  color: #fff;
  background-color:#d6d6d61a;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
}
.language.active{
  background-color: #e8e8e832;
  cursor: pointer;
}
.login a{
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  color: #fff;
  height: 38px;
  width:70px ;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #fff;
  transition: all 0.6s ease;
}
.login:hover a{
  border: 1.5px solid transparent;
  background-color: #fff;
  color: black;
}
.comment{
  font-size: 30px;
}
.comment a{
  text-decoration: none;
  color: #a9a9a9dc;
}

.light-dark{
  font-size: 30px;
}
.comment:hover a{
  color:#fff;
}
.light-dark:hover{
  cursor: pointer;
}
.comment a.active{
  color: #fff;
}
.profile_popup{
  background: var(--foot-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
  z-index: 999;
  position:absolute ;
  top: 75px;
  width: 250px;
  height: 20vh;
  visibility: hidden;
  transform: translateY(8px);
  opacity: 0;
  transition: all 0.5s ease;
}
.profile_popup.active{
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}
.profile_container1{
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;

}
.profile_container1::after{
  content: "";
  position: absolute;
  width: 115%;
  bottom: -15px;
  border-bottom:1px solid rgb(140 140 140 / 0.2);
  overflow: hidden;
}
.profile_popup .profile_container1 .profile_img{
  height: 50px;
  width: 50px;
}
.profile_popup .profile_container1 .profile_img img{
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.profile_popup .profile_container1 .profile_name p{
  font-size: 16.5px;
  font-weight: 500;
  color: var(--primary_color);
}
.profile_popup .profile_container2{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 33px;
  gap: 14px;
}

.profile_popup .profile_container2 .profile_msg1 a{
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  border: none;
  padding: 8px 35px;
  border-radius: 20px;
  background:var(--primary_color);
  color: var(--body_color);
}
.profile_popup .profile_container2 .profile_msg1 a:hover{
  background-color: var(--profile-color-hover);
}
.profile_popup .profile_container2 .profile_msg2 a{
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  border: none;
  padding: 8px 50px;
  border-radius: 20px;
  background: var(--signout-color);
  border: none;
  color: var(--primary_color);
}
.profile_popup .profile_container2 .profile_msg2 a:hover {
  background: rgba(255,0,0,0.15);
  color: #ff4d4d;
}
.side-menu{
  width: 320px;
  z-index: 100;
  background:  var(--sidemenu_color);
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition:left 0.5s ease;
  opacity: 0.9;
  position: fixed;
  height: calc(100vh - 60px);
  overflow-y: auto;
  margin-top: 70px;
  left: -388px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);

}
.user-login{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 25px;
  /* display: none; */
}
.user-signin{
  border: 1px solid var(--primary_color);
  width: 80px;
  font-size: 13px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
.user-signin:hover{
  background: var(--primary_color);
  border: 1px solid transparent;
  cursor: pointer;
}
.user-signin a{
  text-decoration: none;
  color: var(--primary_color);
  font-weight: 500;
  height:42px ;
  width: 75px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.user-signin a:hover{
  color: var(--body_color);
}
.user-signup{
  width: 120px;
  font-size: 12px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color:#8c05fb;
}
.user-signup:hover{
  background-color:#5A00B5;
  cursor: pointer;

}
.user-signup a{
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}
.menu{ 
  margin-top: 15px;
  display: flex;
  flex-direction:column ;
  gap: 35px;
  margin-left: 10px;
  margin-bottom: 48px;
  opacity: 1;
  z-index: 10;
}
.menu a{
  text-decoration: none;
  color:var(--menu_items_color);
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 500;
  z-index: 1000;
  opacity: 1;
  height: 22px;
  display: flex;
  align-items: center;
}
.menu a.active{
  color: var(--menu_items_color_hover);
  font-size: 19px;
  font-weight: bold;
}
.menu a:hover{
  color:var(--menu_items_color_hover) ;
}
.search-bar{
  width: 13rem;
  height:42px ;
  border-radius: 8px;
  background-color:#f0eaeafe ; 
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.search-bar input{
  height: 34px;
  border: none;
  width: 11rem;
  outline: none;
  background: none;
}
.search-bar i{
  color: #626262b7;
  font-size: 16px;
  padding-right: 7px;
}
.search-bar input::placeholder{
  color: #161616b9;
  font-size: 14px;
  /* padding-left: 2px; */
  font-weight: 400;
}
.side-menu.active{
  left: 0;
}
.aboutContent {
  min-height: 100vh;
  padding-top: 89px;
}
.aboutContent .about_Info1 {
  display: flex;
  background-color: var(--primary_color1);
  height: 50vh;
  align-items: center;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 60px;
}
.about_Info1 .about_desc1 {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.about_desc1 .head1 {
  font-weight: bolder;
  font-size: 40px;
  font-family: "Georgia", "serif";
  color: var(--text_color_head);
}
.about_Info1 .about_desc1 p {
  width: 700px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: var(--text_color_para);
}
.aboutContent .about_img1 {
  height: 330px;
  /* width: 300px; */
}
.aboutContent .about_img1 img {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 14px;
  box-shadow: var(--shadow);
}
.aboutContent .about_Info2 {
  display: flex;
  background-color: var(--primary_color2);
  height: 50vh;
  align-items: center;
  justify-content: space-between;
  padding-left: 60px;
  /* padding-right: 60px; */
}
.about_Info2 .about_desc2 {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.about_desc2 .head2 {
  font-weight: bolder;
  font-size: 28px;
  font-family: "Georgia", "serif";
  width: 750px;
  color: var(--text_color_head);
}
.about_Info2 .about_desc2 p {
  width: 650px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.3rem;
  color: var(--text_color_para);
  flex-wrap: wrap;
}
.aboutContent .about_img2 {
  height: 330px;
  width: 420px;
}
.aboutContent .about_img2 img {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 14px;
  box-shadow: var(--shadow);
}
.foot {
  width: 100%;
  bottom: 0;
  display: flex;
  background-color: #1a1b1e;
  /* height: 11vh; */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  justify-content: space-evenly;
  text-align: center;
  overflow: hidden;
  /* text-align: center; */
  align-items: center;
  padding: 1rem;
}
.company-info h4 {
  font-weight: 400;
  font-size: 15px;
}
.company-info a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #a1a0a0;
  /* padding-left: 1px; */
  text-align: center;
}
.company-info a:hover {
  color: #5a00b5;
}
.feedback-center h4 {
  font-weight: 400;
  font-size: 15px;
}
.feedback-center a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #a1a0a0;
  align-items: center;
}
.feedback-center a:hover {
  color: #5a00b5;
}
.copy-right {
  display: flex;
  justify-content: center;
  font-size: 15px;
  /* margin-bottom: 12px; */
  font-family: "Poppins";
  flex-direction: column;
  gap: 14px;
}
.copy-right p {
  font-weight: 400;
  color: #fff;
  align-items: center;
}
.icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 16px;
}
.icons a {
  text-decoration: none;
  color: #fff;
}
.fa-facebook:hover {
  cursor: pointer;
  color: #1877f2;
}
.fa-instagram:hover {
  cursor: pointer;
  color: #e1306c;
}
.fa-linkedin:hover {
  cursor: pointer;
  color: #0a66c2;
}
.fa-github:hover {
  cursor: pointer;
  color: #686666;
}
