*{
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
  scroll-behavior: smooth;
  transition: 0.5s all;
}
html, body {
  overflow-x: hidden;
}
:root{
  --body_color:#fff;
  --shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
  --primary_color:#000000;
  --bg_color:#fff;
  --sidemenu_color:#fff;
  --menu_items_color_hover:#ff6600;
  --menu_items_color:rgb(36, 36, 36);
}
body{
  background:var(--bg_color);
  color: #fff;
  min-height: 100vh;
  width: 100%;
  transition: background-color 0.3s ease,color 0.3s ease;
}
.dark_theme{
  --body_color:#000000;
  --shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
  --primary_color:#fff;
  --bg_color:#2C2D31;
  --sidemenu_color:#141414;
  --menu_items_color:#ff6600;
  --menu_items_color:#fff;
}
#btn-up{
  bottom: 20px;
  position: fixed;
  right: 10px;
  z-index: 1000;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: none;
  outline: none;
  transition:opacity 0.6s ease;
  opacity: 1;
  background-color:var(--primary_color);
}
#btn-up i{
  font-size: 1.4rem;
  align-items: center;
  color: var(--body_color);
}
#btn-up:hover{
  cursor: pointer;
  transform: scale(0.9);
  transition: transform 0.2s ease;
  background-color: #5A00B5;
  
}

/* Home page */
header{
  height: 85px;
  background-color:#000000;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right:0;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 100;
  
}
.panel1:hover{
  cursor: pointer;
}
.panel1{
  display: flex;
  align-items: center;
}
.sidebar{
  font-size: 20px;
  height: 28px;
  color:#fff;
  position: relative;
  display: block;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: border-color 0.3s;
  margin-left: 2rem;
  width: 22px;
  padding: 5px;
  align-items: center;
  padding-left: 10px;
}
.sidebar:hover{
  border: 1px solid  #fff;
  background-color: #d6d6d61a;
  opacity: 0.7;
  
}

.sidebar.active{
  border: 1px solid hsla(0, 0%, 51%, .6);
}

.Es-logo{
  margin-left: 35px;
  font-size: 45px;
}
.brand-name{
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  position: relative;
  right: 6px;
}

.panel2{
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 35px;
  gap: 45px;
}
.panel2 a{
  text-decoration: none;
  font-weight: 600;
  display: block;
  color: #c7c6c6;
  font-size: 15px;
}
.panel2 a i{
  padding-right: 4px;
}
.panel2 a:hover{
  cursor: pointer;
  color: #fff;
}
.home a{
  position: relative;
  transition: color 0.4s ease;
  
}
.home a::after{
  position: absolute;
  content: "";
  height: 3px;
  background-color: #fff;
  bottom: -9px;
  transition:width 0.6s ease;
  border-radius: 2rem;
  left: 0;
  width: 0;
}
.home a:hover::after{
  width: 110%;
}
.home a.active::after{
  content: "";
  height: 3px;
  background-color: #fff;
  bottom: -9px;
  transition: width 0.3s ease;
  border-radius: 2rem;
  width: 110%;
  position: absolute;
  left: 0;
}
.home a.active{
  color:#fff;
}
.about a{
  position: relative;
  transition: color 0.4s ease;
}
.about a::after{
  position: absolute;
  content: "";
  height: 3px;
  background-color:#fff;
  bottom: -9px;
  transition:width 0.6s ease;
  border-radius: 2rem;
  left: 0;
  width: 0;

}
.about a:hover::after{
  width: 110%;
}
.about a.active::after{
  content: "";
  height: 2.5px;
  background-color: #fff;
  bottom: -9px;
  transition: width 0.3s ease;
  border-radius: 2rem;
  width: 112%;
  position: absolute;
  left: 0;
}
.about a.active{
  color: #fff;
}
.panel3{
  display: flex;
  align-items: center;
  width: 35rem;
  border: 1px solid hsla(0, 0%, 51%, .6);
  height: 40px;
  margin-left: 50px;
  border-radius: 8px;
  transition: 0.4s ease;
}

.panel3:hover{
  border:1px solid #5A00B5;
}


.panel3 i{
  color: rgb(249, 247, 247);
  font-size: 17px;
  padding-left: 15px;
}
.panel3 input{
  width: 31rem;
  outline: none;
  background: #000000;
  border: none;
  color: #fff;
  padding-left: 10px;
  height: 4vh;

}
.panel3 input::placeholder{
  font-size: 13px;
  position: relative;
  bottom: 2px;
}
.panel4{
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: 40px;
}
.language{
  height: 32px ;
  width: 30px;
  padding: 3px 5px ;
  border-radius: 50%;
  color: #fff;
  background-color:#d6d6d61a;
  font-size: 22px;
  /* border: 2px solid beige; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.language:hover{
  background-color: #e8e8e832;
  cursor: pointer;
}
.login a{
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  color: #fff;
  height: 38px;
  width:70px ;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  transition: all 0.6s ease;
}
.login:hover a{
  border: 1px solid transparent;
  background-color: #fff;
  color: black;
}
.comment{
  font-size: 30px;
  position: relative;
  left: 14px;
}
.comment a{
  text-decoration: none;
  color: #a9a9a9dc;
}
.light-dark{
  font-size: 30px;
  position: relative;
  left: 10px;
}
.comment:hover a{
  color:#fff;
}
.light-dark:hover{
  cursor: pointer;
}
.comment a.active{
  color: #fff;
}
.foot{
  width: 100%;
  bottom: 0;
  display: flex;
  background-color:#1a1b1e;
  /* height: 11vh; */
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
  justify-content: space-evenly;
  text-align: center;
  overflow: hidden;
  /* text-align: center; */
  align-items: center;
  padding: 1rem;

}
.company-info h4{
  font-weight: 400;
  font-size: 14px;
  
}
.company-info a{
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  color: #a1a0a0;
  /* padding-left: 1px; */
  text-align: center;
}
.company-info a:hover{
  color:#5A00B5;
}
.feedback-center h4{
  font-weight: 400;
  font-size: 14px;
}
.feedback-center a{
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  color: #a1a0a0;
  align-items: center;
}
.feedback-center a:hover{
  color:#5A00B5;
}
.copy-right{
  display: flex;
  justify-content: center;
  font-size: 14.5px;
  /* margin-bottom: 12px; */
  font-family: "Poppins";
  flex-direction: column;
  gap:14px;
}
.copy-right p{
  font-weight: 400;
  color: #fff;
}
.icons{
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 16px;
}
.fa-facebook:hover{
  cursor: pointer;
  color:#1877F2;
}
.fa-instagram:hover{
  cursor: pointer;
  color:#E1306C;
}
.fa-youtube:hover{
  cursor: pointer;
  color: #FF0000;
}
.fa-twitter:hover{
  cursor: pointer;
  color: #1DA1F2;
}