*{
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
  scroll-behavior: smooth;
  transition: 0.5s all;
  list-style: none;
}
html,body{
  max-width: 100%;
  overflow-x: clip;
}
:root{
  --body_color:#fff;
  --shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
  --primary_color:#000000;
  --bg_color:#fff;
  --sidemenu_color:#fff;
  --menu_items_color_hover:#ff6600;
  --menu_items_color:rgb(36, 36, 36);
  --foot-color:#fff;
  --border1-color:0.1rem solid #c0c0c0;
  --shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
  --submain-color:#ff9e0026;
  --icon-color: #666;

}
body{
  background:var(--bg_color);
  color: #fff;
  min-height: 100vh;
  width: 100%;
  transition: background-color 0.3s ease,color 0.3s ease;

}
.dark_theme{
  --body_color:#000000;
  --shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
  --primary_color:#fff;
  --bg_color:#2C2D31;
  --sidemenu_color:#141414;
  --menu_items_color:#ff6600;
  --menu_items_color:#fff;
  --foot-color:#1a1b1e;
  --border1-color:0.1rem solid #3f3f3f;
  --shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
  --submain-color:#2C2D31;
  --icon-color: #c4c3c3;
}
#btn-up{
  bottom: 20px;
  position: fixed;
  right: 10px;
  z-index: 1000;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: none;
  outline: none;
  transition:opacity 0.6s ease;
  opacity: 1;
  background-color:var(--primary_color);
}
#btn-up i{
  font-size: 1.4rem;
  align-items: center;
  color: var(--body_color);
}
#btn-up:hover{
  cursor: pointer;
  transform: scale(0.9);
  transition: transform 0.2s ease;
  background-color: #5A00B5;
  
}

/* Home page */
header{
  padding: 0.8rem;
  background-color:#000000;
  display: flex;
  align-items: center;
  position: sticky;
  /* width: 100%; */
  top: 0;
  left: 0;
  right:0;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
  /* overflow: hidden; */
}
.Es-logo:hover{
  cursor: pointer;
}
.sidebar{
  font-size: 20px;
  height: 26px;
  color:#fff;
  position: relative;
  display: flex;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: border-color 0.3s;
  margin-left: 1rem;
  width: 26px;
  padding: 5px;
  align-items: center;
  justify-content: center;
}
.sidebar:hover{
  border: 1px solid  #fff;
  background-color: #d6d6d61a;
  opacity: 0.7;
  
}

.sidebar.active{
  border: 1px solid hsla(0, 0%, 51%, .6);
}

.Es-logo{
  margin-left: 35px;
  font-size: 45px;
}
.brand-name{
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  position: relative;
  right: 6px;
}

.panel2{
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 35px;
  gap: 45px;
}
.panel2 a{
  text-decoration: none;
  font-weight: 600;
  display: block;
  color: #c7c6c6;
  font-size: 15px;
}
.panel2 a i{
  padding-right: 4px;
}
.panel2 a:hover{
  cursor: pointer;
  color: #fff;
}
.home a{
  position: relative;
  transition: color 0.4s ease;
  
}
.home a::after{
  position: absolute;
  content: "";
  height: 3px;
  background-color: #fff;
  bottom: -9px;
  transition:width 0.6s ease;
  border-radius: 2rem;
  left: 0;
  width: 0;
}
.home a:hover::after{
  width: 110%;
}
.home a.active::after{
  content: "";
  height: 3px;
  background-color: #fff;
  bottom: -9px;
  transition: width 0.3s ease;
  border-radius: 2rem;
  width: 110%;
  position: absolute;
  left: 0;
}
.home a.active{
  color:#fff;
}
.about a{
  position: relative;
  transition: color 0.4s ease;
}
.about a::after{
  position: absolute;
  content: "";
  height: 3px;
  background-color:#fff;
  bottom: -9px;
  transition:width 0.6s ease;
  border-radius: 2rem;
  left: 0;
  width: 0;

}
.about a:hover::after{
  width: 110%;
}
.about a.active::after{
  content: "";
  height: 2.5px;
  background-color: #fff;
  bottom: -9px;
  transition: width 0.3s ease;
  border-radius: 2rem;
  width: 112%;
  position: absolute;
  left: 0;
}
.about a.active{
  color: #fff;
}
.panel3{
  display: flex;
  align-items: center;
  width: 35rem;
  border: 1px solid hsla(0, 0%, 51%, .6);
  height: 40px;
  margin-left: 50px;
  border-radius: 8px;
  transition: 0.4s ease;
}

.panel3:hover{
  border:1px solid #5A00B5;
  scale: 1.004;
}


.panel3 i{
  color: rgb(249, 247, 247);
  font-size: 17px;
  padding-left: 15px;
}
.panel3 input{
  width: 31rem;
  outline: none;
  background: #000000;
  border: none;
  color: #fff;
  padding-left: 10px;
  height: 4vh;

}
.panel3 input::placeholder{
  font-size: 13px;
  position: relative;
  bottom: 2px;
}
.panel4{
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: 40px;
}
.language{
  height: 32px ;
  width: 30px;
  padding: 3px 5px ;
  border-radius: 50%;
  color: #fff;
  background-color:#d6d6d61a;
  font-size: 22px;
  /* border: 2px solid beige; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.language:hover{
  background-color: #e8e8e832;
  cursor: pointer;
}
.login a{
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  height: 40px;
  width:70px ;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #fff;
  transition: all 0.6s ease;
  font-family: "Poppins";
}
.login:hover a{
  border: 1.5px solid transparent;
  background-color: #fff;
  color: black;
}
.comment{
  font-size: 30px;
  position: relative;
  left: 14px;
}
.comment a{
  text-decoration: none;
  color: #a9a9a9dc;
}
.light-dark{
  font-size: 30px;
  position: relative;
  left: 10px;
}
.comment:hover a{
  color:#fff;
}
.light-dark:hover{
  cursor: pointer;
}
.comment a.active{
  color: #fff;
}
.content2{
  display: flex;
  /* padding: 1rem; */
  padding-top: 4rem;
  background-color: var(--bg_color);
  padding-left:9%;
}
.section{
  padding-bottom: 2rem;
}
.head1{
  padding: 2rem;
  color: var(--primary_color);
  border-bottom:var(--border1-color);
}
.head1 h2{
  line-height: 1;
  font-size: 2.6rem;
  font-weight: 550;
}

.sub-con2{
  height:fit-content;
  border:var(--border1-color);
  width: 60%;
  border-radius: 2px;
  background-color: var(--foot-color);
  box-shadow: var(--shadow);
}
.main-con2{
  padding: 2.5rem;
  display: block;
}

.description{
  display: flex;
  gap: 25px;
  border: rgb(184, 174, 128);
  padding: 1rem;
  border-radius: 0.2rem;
  align-items: center;
  background: rgb(255, 249, 191);
  margin-right: 3px;
}
.description i{
  font-size: 38px;
  margin-bottom: 10px;
  color: rgb(202, 118, 49);
}
.page_info{
  font-size: 16px;
  line-height: 1.5;
  color: rgb(157, 70, 0);
  overflow-wrap: break-word;
  margin-right: 2rem;
  word-spacing: 2px;
  font-weight: 400;
}
form{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  font-size: 0.9rem;
  line-height: 1.4;
  gap: 1rem;
  width: 100%;
}
form span{
  color: crimson;
}
form label{
  color: var(--primary_color);
  font-weight: 500;
}
.input_cont{
  display: flex;
  flex-direction: column;
  width: 44%;
  gap: 0.5rem;
}
form .input_cont #name{
  height: 2.2rem;
  font-size: 14px;
  outline: none;
  padding-left: 12px;
  border-radius: 4px;
  border: 0.05rem solid #0000001a;
  background: var(--bg_color);
  color:var(--primary_color);
  border-width: 0.05rem;
  text-transform: capitalize;
}
.input_cont ::placeholder{
  color: rgb(105, 105, 105);
  font-weight:400;
}
form #name:hover{
  border: 0.05rem solid #f39140;
  box-shadow: var(--shadow);
  scale: 1.003;
}
/* Container2 */
.input_cont1{
  display: flex;
  flex-direction: column;
  width: 51.7%;
  gap: 0.5rem;
  margin-bottom: 15px;
}
form .input_cont1 #Email{
  height: 2.2rem;
  font-size: 14px;
  outline: none;
  padding-left: 12px;
  border-radius: 4px;
  border: 0.05rem solid #0000001a;
  /* transition: 0.2s; */
  background: var(--bg_color);
  color:var(--primary_color);
  border-width: 0.05rem;
}
.input_cont1 ::placeholder{
  color: rgb(105, 105, 105);
  font-weight:400;
}
form #Email:hover{
  border: 0.05rem solid #f39140;
  box-shadow: var(--shadow);
  scale: 1.003;
}
/* Cont 3 */
.input_cont2{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.7rem;
  margin-bottom: 15px;
}
form .input_cont2 #Subject{
  height: 2.2rem;
  font-size: 14px;
  outline: none;
  padding-left: 12px;
  border-radius: 4px;
  border: 0.05rem solid #0000001a;
  background: var(--bg_color);
  color:var(--primary_color);
  border-width: 0.05rem;
  text-transform: capitalize;
}
.input_cont2 ::placeholder{
  color: rgb(105, 105, 105);
  font-weight:400;
}
form #Subject:hover{
  border: 0.05rem solid #f39140;
  box-shadow: var(--shadow);
  scale: 1.003;
}
/* cont 4 */
.input_cont3{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}
form .input_cont3 #message{
  padding: 10px;
  height: 11rem;
  font-size: 14px;
  outline: none;
  padding-left: 12px;
  border-radius: 4px;
  border: 0.05rem solid #0000001a;
  border-width: 0.05rem;
  /* transition: 0.2s; */
  background: var(--bg_color);
  color:var(--primary_color);
  width: 97.5%;
  text-transform: capitalize;
}
.input_cont3 ::placeholder{
  color: rgb(105, 105, 105);
  font-weight:400;
}
form #message:hover{
  border: 0.05rem solid #f39140;
  box-shadow: var(--shadow);
  scale: 1.003;
}
#open-popup-btn{
  padding: 12px 40px;
  font-size: 0.9rem;
  box-shadow: 0 0.08rem 0.5rem rgba(0, 0, 0, 0.1);
  background: var(--bg_color);
  cursor: pointer;
  border-radius: 6px;
  outline: none;
  border: none;
  border: 1px solid #f39140;
  color: #ff9f6e;
  margin-top: 20px;
  font-weight: 500;
}
#open-popup-btn:hover{
  background-color: #ff6400;
  color: #fff;
}
.popup-center{
  height: 14rem;
  padding: 2rem;
  width: 18rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  z-index: 4;
  border-radius: 1rem;
  text-align: center;
  background: #ffdfb8f7;
  left: 49%;
  position: fixed;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  top: -200%;
  transform: translate(-100%, -100%) scale(0.5);
  transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
}
.popup-center.active{
  opacity: 1;
  top: 50%;
  transform: translate(-100%,-50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}
.popup_icon{
  height: 2.8rem;
  width: 2.8rem;
  border: 0.2rem solid #ff6400;
  border-radius: 50%;
  color: #ff6400;
  font-size: 2rem;
  line-height: 3rem;
  display: inline-block;
  align-items: center;
}
.popup_icon:hover{
  cursor: pointer;
}
.sub-main{
  margin-left: 1rem;
  width: 27%;
  border:var(--border1-color);
  border-radius: 2px;
  background-color: var(--foot-color);
  box-shadow: var(--shadow);
  position: sticky;
  top: 5.5rem;
  height: fit-content;
  align-self: flex-start;
}
.tab{
  border-bottom:var(--border1-color) ;
  height: 4rem;
  display: flex;
}
.sub-main .sub-main-content{
  padding: 2rem;
  /* gap: 30px; */
}
.cards{
  display: flex;
}
.pop{
  font-weight: 400;
}
.img_cont1{
  max-width: 40%;
  margin-right: 1.5rem;
}
.sub-main-content .cards .img_cont1 img{
  height: 90%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.2rem;
  transition: opacity 0.2s;
  cursor: pointer;
}
.sub-main-content .cards .img_cont1 img:hover{
  opacity: 0.85;
}
.img_description a{
  text-decoration: none;
  color: var(--primary_color);
  font-family:"Poppins";
  line-height: 1;
  font-size: 0.8rem;
  font-weight: bold;
}
.img_description a:hover{
  color: #ff7b00;
}
.img_description p{
  font-size: 8px;
  margin-top: 5px;
  color: var(--icon-color);
}
.pop{
  width: 50%;
  border-right:var(--border1-color) ;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  background: var(--submain-color);
  color: #ff7b00;
  font-size: 16px;

}
.title{
  color:#484848;
  font-weight: 600;
  font-size: 1.8rem;
  font-family: cursive;
  padding: 0.5rem;
}
.desc{
  color: #222;
  font-size: 0.9rem;
  padding: 0.5rem;
  width: 20rem;
  text-align: center;
  font-weight: 400;
}
#popup-btn-close{
  width: 5.5rem;
  height: 2.5rem;
  border-radius: 8px;
  border: 1.5px solid #ff7b00;/* color: #000000; */
  font-size: 16px;
  margin-top: 15px;
  color: #ff7b00;
  font-weight: 500;
  transition: all 200ms ease-in-out;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}
#popup-btn-close:hover{
  cursor: pointer;
  color:#fff ;
  background-color: #ff7b00;
}

footer{
  margin-top: 5rem;
}
.foot{
  width: 100%;
  background-color:#1a1b1e;
  /* height: 11vh; */
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  padding: 1.2rem;
  display: flex;
}
.company-info h4{
  font-weight: 400;
  font-size: 14px;
  
}
.company-info a{
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  color: #a1a0a0;
  /* padding-left: 1px; */
  text-align: center;
}
.company-info a:hover{
  color:#5A00B5;
}
.feedback-center h4{
  font-weight: 400;
  font-size: 14px;
}
.feedback-center a{
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  color: #a1a0a0;
  align-items: center;
}
.feedback-center a:hover{
  color:#5A00B5;
}
.copy-right{
  display: flex;
  justify-content: center;
  font-size: 14.5px;
  /* margin-bottom: 12px; */
  font-family: "Poppins";
  flex-direction: column;
  gap:14px;
}
.copy-right p{
  font-weight: 400;
  color: #fff;
}
.icons{
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 16px;
}
.fa-facebook:hover{
  cursor: pointer;
  color:#1877F2;
}
.fa-instagram:hover{
  cursor: pointer;
  color:#E1306C;
}
.fa-youtube:hover{
  cursor: pointer;
  color: #FF0000;
}
.fa-twitter:hover{
  cursor: pointer;
  color: #1DA1F2;
}