/* For signup */
@media only screen and (max-width:480px){
  /* For Sign Up Page */
  .signup{
    width: 19rem;
    height: 27rem;
    gap: 27px;
  }
  .signup h2{
    font-size: 26px;
  }
  #user-up{
    width: 232px;
  }
  .name i{
    font-size: 24px;
  }
  .name input{
    width: 180px;
    font-size: 15px;
  }
  .E-mail i{
    font-size: 24px;
  }
  .E-mail input{
    width: 180px;
    font-size: 15px;
  }
  .Password i{
    font-size: 24px;
  }
  .Password input{
    width: 180px;
    font-size: 15px;
  }
  #btn{
    width: 150px;
    font-size: 12px;
  }
  .signup p{
    font-size: 12px;
  }
  /* For Sign in page */
  .signin{
    width: 19rem;
    height: 23rem;
    gap: 27px;
  }
  .signin h2{
    font-size: 26px;
  }
  .signin p{
    font-size: 12px;
  }
}
@media only screen and (min-width:481px) and (max-width:768px) {
  /* For Sign Up page */
  .signup{
    width: 22rem;
    height: 27rem;
    gap: 25px;
  }
  .signup h2{
    font-size: 28px;
  }
  #user-up{
    width: 290px;
  }
  .name i{
    font-size: 29px;
  }
  .name input{
    width: 240px;
    font-size: 16px;
  }
  .E-mail i{
    font-size: 29px;
  }
  .E-mail input{
    width: 240px;
    font-size: 16px;
  }
  .Password i{
    font-size: 29px;
  }
  .Password input{
    width: 240px;
    font-size: 16px;
  }
  #btn{
    width: 170px;
    font-size: 13.5px;
  }
  .signup p{
    font-size: 13px;
  }
  /* For Sign in page */
  .signin{
    width: 22rem;
    height: 23rem;
    gap: 25px;
  }
  .signin h2{
    font-size: 28px;
  }
  .signin p{
    font-size: 13px;
  }
}
@media only screen and (min-width:769px) and (max-width:1024px) {
  /* For Sign Up page */
  .signup{
    width: 24rem;
    height: 27.5rem;
    gap: 27px;
  }
  .signup h2{
    font-size: 29px;
  }
  #user-up{
    width: 310px;
  }
  .name i{
    font-size: 31px;
  }
  .name input{
    width: 255px;
    font-size: 16px;
  }
  .E-mail i{
    font-size: 31px;
  }
  .E-mail input{
    width: 255px;
    font-size: 16px;
  }
  .Password i{
    font-size: 31px;
  }
  .Password input{
    width: 255px;
    font-size: 16px;
  }
  #btn{
    width: 180px;
    font-size: 13.5px;
  }
  .signup p{
    font-size: 14px;
  }
  /* For Sign in page */
  .signin{
    width: 24rem;
    height: 24rem;
    gap: 27px;
  }
  .signin h2{
    font-size: 29px;
  }
  .signin p{
    font-size: 13.5px;
  }
  
}
@media only screen and (min-width:1285px) and (max-width:1390px) {
  #head{
    padding: 1rem;
  }
  .Es-logo{
    display: flex;
    align-items: center;
  }
  .sidebar{
    font-size: 22px;
  }
  .brand-name{
   font-size: 10px;
   top: 12px;
   left: 5px;
   position: relative;
  }
  .panel2{
    width: 8rem;
    gap: 30px;
  }
  .panel2 a{
    font-size: 15px;
    width: 4rem;
  }
  .home a.active::after{
    width: 97%;
  }
  .about a.active::after{
    width: 97%;
  }
  .panel3{
    width: 36rem;
    margin-left: 50px;
  }
  .panel3 i{
    font-size: 17px;
  }
  .panel3 input{
    width: 27rem;
    height: 2.5vh;
  }
  .language{
    font-size: 21px;
  }
  .login{
   position: relative;
   right: 5px;
  }
  .login a{
   font-size: 12px;
  }
  .panel4{
   display: flex;
   gap: 24px;
   margin-right: 40px;

  }
  .comment{
   font-size: 28px;
   
  }
  .light-dark{
   font-size: 28px;
  }
  .search-bar{
    display: none;
  }
  .user-login{
    display: none;
  }
  .slider-container{
   height: 420px;
   width:1260px;
  }
  .content2{
    padding-left: 7%;
  }
  .sub-con2{
    width: 75%;
  }
  .sub-main{
    top: 4.6rem;
  }
  .img_description a{
    font-size: 0.78rem;
  }
  .img_description p{
    margin-top: 10px;
  }

}


@media only screen and (min-width:1166px) and (max-width:1284px){
  #head{
    padding: 1rem;
  }
  .sidebar{
    font-size: 21px;
  }
  .Es-logo{
    display: flex;
    align-items: center;
  }
  .Es-logo i{
    font-size: 42px;
  }
  .brand-name{
   font-size: 9px;
   position: relative;
   top: 12px;
   left: 1px;
   letter-spacing: 1;
  }
  .panel2{
    gap: 35px;
    margin-left: 40px;
  }
  .panel2 a{
    font-size: 15px;
  }
  .home a.active::after{
    width: 108%;
  }
  .about a.active::after{
    width: 108%;
  }
  .panel3{
    width: 26rem;
    margin-right: 10px;
  }
  .panel3 i{
    font-size: 16px;
  }
  .panel3 input{
    width: 23rem;
    height: 2.5vh;
  }
  .language{
    font-size: 20px;
  }
  .login{
   margin-right: 5px;
  }
  .login a{
   font-size: 11px;
  }
  .panel4{
   /* margin-left: 10px; */
   display: flex;
   gap: 16px;

  }
  .comment{
   font-size: 27px;
   
  }
  .light-dark{
   font-size: 27px;
  }
  .search-bar{
    display: none;
  }
  .user-login{
    display: none;
  }
  .main-content{
    padding: 0.6rem;
  }
  .slider-container{
   height: 420px;
   width:1150px;
  }
  .parent-box{
    padding: 0.6rem;
  }
  .box{
   height: 250px;
   width: 190px;
  }
  .category{
    font-size: 19px;
  }
  .swipe-btn{
    height: 245px;
  }
  .input_cont{
    width: 44.7%;
  }
  .input_cont1{
    width: 54%;
  }
  .description i{
    font-size: 32px;
  }
  .page_info{
    margin-right: 1rem;
    font-size: 15px;
  }
  .sub-main{
    top: 4.4rem;
  }
  .img_description a{
    font-size: 0.75rem;
  }
  .img_description p{
    margin-top: 10px;
  }
  

  
}
@media only screen and (min-width:1025px) and (max-width:1165px) {
  #head{
    padding: 1rem;
  }
  .sidebar{
    font-size: 20px;
  }
  .Es-logo{
    display: flex;
    align-items: center;
  }
  .Es-logo i{
    font-size: 40px;
    margin-right: 5px;
  }
  .brand-name{
   font-size: 8px;
   top: 12px;
   position: relative;
   left: 0.2px;
  }
  .panel2{
    gap: 20px;
  }
  .panel2 a{
    font-size: 14px;
  }
  .home a.active::after{
    width: 105%;
  }
  .about a.active::after{
    width: 105%;
  }
  .panel3{
    width: 20rem;
  }
  .panel3 i{
    font-size: 15px;
  }
  .panel3 input{
    width: 16rem;
    height: 2.5vh;
  }
  .language{
    font-size: 19px;
    margin-right: 4px;
  }
  .login a{
   font-size: 10px;
  }
  .panel4{
   display: flex;
   gap: 18px;
  }
  .comment{
   font-size: 25px;
   
  }
  .light-dark{
   font-size: 25px;
  }
  .copy-right{
    font-size: 14px;
  }
  .company-info h4{
    font-size: 12px;
  }
  .company-info a{
    font-size: 11px;
  }
  .feedback-center h4{
    font-size: 12px;
  }
  .feedback-center a{
    font-size: 11px;
  }
  .icons{
    font-size: 15px;
  }
  .side-menu{
    width: 290px;
  }
  .menu a{
    font-size: 16px;
    height: 2.5vh;
  }
  .menu a.active{
    font-size: 18px;
  }
  .menu a:hover{
    font-size: 18px;
  }
  .search-bar{
    display: none;
  }
  .user-login{
    display: none;
  }
  .main-content{
    padding: 0.6rem;
  }
  .slider-container{
   height: 420px;
   width:1010px;
  }
  .parent-box{
    padding: 0.6rem;
  }
  .box{
   height: 240px;
   width: 180px;
  }
  .category{
    font-size: 18px;
  }
  .swipe-btn{
    height: 235px;
  }
  .content2{
    padding-left: 1rem;
    padding-right: 0rem;
  }
  .sub-con2{
    width: 69%;
  }
  .head1 h2{
    font-size: 2.4rem;
  }
  .description{
    margin-right: 0px;
    padding: 0.8rem;
  }
  .description i{
    font-size: 35px;
  }
  .page_info{
    font-size: 14px;
  }
  form{
    font-size: 0.7rem;
  }
  #open-popup-btn{
    padding: 10px 35px;
  }
  .sub-main{
    width: 27.5%;
    top: 4.4rem; 
  }
  .sub-main .sub-main-content{
    padding: 1.5rem;
  }
  .img_description p{
    margin-top: 5px;
  }
  /* .sub-main .sub-main-content{
    padding: 1.4rem;
  } */
  .img_cont1{
    margin-bottom: 0;
  }
  .img_description a{
    font-size: 0.7rem;
  }
}
@media only screen and (min-width:947px) and (max-width:1024px){
  /* For Header part */
  #head{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
  }
  .sidebar{
    font-size: 22px;
    height:28px ;
    width: 36px;
    color: #fff;
    border: 1px solid #fff;
  }
  .search-bar i{
    color: gray;
  }
  .Es-logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Es-logo i{
    font-size: 60px;
  }

  .brand-name{
   font-size: 18px;
   display: flex;
   position: relative;
   top: 20px;
   letter-spacing: 1px;
   left: 0.2px;
  }
  .panel2{
    display: none;
  }
  .panel3{
    display: none;
  }
  .panel4{
    gap: 18px;
    padding-right: 20px;
  }
  .language{
    font-size: 22px;
    height: 3vh;
    width: 4vw;
  }
  .login a{
   font-size: 12px;
  }
  .comment{
   font-size: 30px;
  }
  .light-dark{
   font-size: 30px;
  }
  .copy-right{
    font-size: 13.5px;
  }
  .company-info h4{
    font-size: 11px;
  }
  .company-info a{
    font-size: 10px;
  }
  .feedback-center h4{
    font-size: 11px;
  }
  .feedback-center a{
    font-size: 10px;
  }
  .icons{
    font-size: 14.5px;
  }
  .user-login{
    display: none;
  }
  .slider-container{
   height: 420px;
   width:920px;
  }
  .child-boxes{
    overflow: scroll;
  }
  .box{
   height: 230px;
   width: 170px;
  }
  .category{
    font-size: 18px;
  }
  .swipe-btn{
    height: 226px;
  }
  .content2{
    padding-left: 1rem;
    padding-right: 0rem;
  }
  .head1 h2{
    font-size: 2.4rem;
  }
  .description i{
    font-size: 32px;
    margin-bottom: 30px;
  }
  .page_info{
    font-size: 14px;
  }
  form{
    font-size: 0.7rem;
  }
  .input_cont{
    width: 44.5%;
  }
  .input_cont1{
    width: 52.5%;
  }
  #open-popup-btn{
    padding: 10px 35px;
  }
  .sub-main{
    width: 31.5%;
    top: 4.8rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
  }
  .img_description p{
    margin-top: 5px;
  }
  .img_cont1{
    margin-bottom: 0;
  }
  .img_description a{
    font-size: 0.68rem;
  }
}
@media only screen and (min-width:850px) and (max-width:946px){
  #head{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  .sidebar{
    font-size: 21px;
    height:28px ;
    width: 35px;
    color: #fff;
    border: 1px solid #fff;
  }
  .Es-logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Es-logo i{
    font-size: 58px;
  }

  .brand-name{
   font-size: 17px;
   display: flex;
   position: relative;
   top: 20px;
   letter-spacing: 1px;
   left: 0.2px;
  }
  .panel2{
    display: none;
  }
  .panel3{
    display: none;
  }
  .panel4{
    gap: 15px;
    padding-right: 20px;
  }
  .language{
    font-size: 21px;
    height: 3vh;
    width: 4vw;
  }
  .login a{
   font-size: 12px;
  }
  .comment{
   font-size: 29px;
  }
  .light-dark{
   font-size: 29px;
  }
  .copy-right{
    font-size: 13px;
  }
  .company-info h4{
    font-size: 10px;
  }
  .company-info a{
    font-size: 9px;
  }
  .feedback-center h4{
    font-size: 10px;
  }
  .feedback-center a{
    font-size: 9px;
  }
  .icons{
    font-size: 14px;
  }
  .menu a{
    font-size: 16px;
  }
  .menu a.active{
    font-size: 17px;
  }
  .menu a:hover{
    font-size: 17px;
  }
  .search-bar{
    width: 12rem;
  }
  .search-bar input{
    height: 3vh;
    width: 10rem;
  }
  .search-bar i{
    color: grey;
    font-size: 15px;
    padding-right: 5px;
  }
  .search-bar input::placeholder{
    color: black;
    font-size: 12px;
  }
  .user-login{
    display: none;
  }
  .slider-container{
   height: 420px;
   width:830px;
  }
  .child-boxes{
    overflow: scroll;
  }
  .box{
   height: 220px;
   width: 160px;
  }
  .category{
    font-size: 17px;
  }
  .swipe-btn{
    height: 218px;
  }
  .content2{
    flex-direction: column;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sub-con2{
    width: 100%;
  }
  .head1 h2{
    text-align: center;
    font-size: 2.4rem;
  }
  .description i{
    font-size:31px ;
    margin-bottom: 10px;
  }
  .page_info{
    font-size: 15px;
  }
  form{
    font-size: 0.7rem;
  }
  .sub-main{
    width: 100%;
    margin-top: 1rem;
    /* margin-right: 3rem; */
    margin-left: 0;
  }
  .sub-main .sub-main-content{
    padding: 1.5rem;
    /* gap: 30px; */
  }
  .tab{
    height: 3.2rem;
  }
  .img_cont1{
    margin-right: 1rem;
    margin-bottom: 0;
    /* display: block; */
    max-width: 16%;
  }
  /* .sub-main-content .cards .img_cont1 img{
    height: 80%;
  } */
  .img_description{
    flex: 0 1 55%;
  }
  .img_description a{
    font-size: 0.8rem;
  }

  
}
@media only screen and (max-width:850px){
  #head{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  #btn-up{
   width: 42px;
   height: 42px;
  }
  #btn-up i{
   font-size: 1.3rem;
  }
  .sidebar{
    font-size: 24px;
    height:30px ;
    width: 34px;
    color: #fff;
    border: 1px solid #fff;
  }
  .Es-logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Es-logo i{
    font-size: 60px;
  }

  .brand-name{
   font-size: 16px;
   display: flex;
   position: relative;
   top: 20px;
   left: 0.2px;
   letter-spacing: 1px;
  }
  .panel2{
    display: none;
  }
  .panel3{
    display: none;
  }
  .panel4{
    gap: 25px;
    padding-right: 20px;
  }
  .language{
    display: none;
  }
  .login a{
   display: none;
  }
  .comment{
   font-size: 35px;
  }
  .light-dark{
   font-size: 35px;
  }
  .copy-right{
    font-size: 12.5px;
  }
  .company-info h4{
    font-size: 9px;
  }
  .company-info a{
    font-size: 8px;
  }
  .feedback-center h4{
    font-size: 9px;
  }
  .feedback-center a{
    font-size: 8px;
  }
  .icons{
    font-size: 13.5px;
  }
  .side-menu{
    width: 300px;
  }
  .menu a{
    font-size: 15px;
    height: 2vh;
  }
  .menu a.active{
    font-size: 16px;
  }
  .menu a:hover{
    font-size: 16px;
  }
  .search-bar{
    width: 11rem;
  }
  .search-bar input{
    width: 9rem;
  }
  .search-bar i{
    color: grey;
    font-size: 15px;
    padding-right: 7px;
  }
  .search-bar input::placeholder{
    color: black;
    font-size: 12px;
  }
  .slider-container{
   height: 420px;
   width:730px;
  }
  .child-boxes{
    overflow: scroll;
  }
  .box{
   height: 210px;
   width: 150px;
  }
  .category{
    font-size: 17px;
  }
  .swipe-btn{
    height: 208px;
  }
  .content2{
    flex-direction: column;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .sub-con2{
    width: 100%;
  }
  .head1 h2{
    text-align: center;
    font-size: 2.4rem;
  }
  .description i{
    font-size:30px ;
    margin-top: 0;
  }

  .page_info{
    font-size: 15px;
    margin-right: 1rem;
  }
  form{
    font-size: 0.7rem;
  }
  /* .input_cont{
    width: 42%;
  }
  .input_cont1{
    width: 53%;
  } */
  .sub-main{
    width: 100%;
    margin-top: 1rem;
    /* margin-right: 3rem; */
    margin-left: 0;
  }
  .tab{
    height: 3.2rem;
  }
  .img_cont1{
    margin-right: 1rem;
    margin-bottom: 0;
    /* display: block; */
    max-width: 25%;
  }
  .img_description{
    flex: 0 1 60%;
  }
  .sub-main-content .cards .img_cont1 img{
    height:9rem;
    width: 100%;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width:739px){
  #head{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  .sidebar{
    font-size: 22px;
    height:30px ;
    width: 34px;
    color: #fff;
    border: 1px solid #fff;
  }
  #btn-up{
    width: 40px;
    height: 40px;
  }
  #btn-up i{
   font-size: 1.3rem;
  }
  .Es-logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Es-logo i{
    font-size: 59px;
  }

  .brand-name{
   font-size: 15px;
   display: flex;
   position: relative;
   top: 20px;
   left: 0.2px;
   letter-spacing: 1px;
  }
  .panel2{
    display: none;
  }
  .panel3{
    display: none;
  }
  .panel4{
    gap: 20px;
  }
  .language{
    display: none;
  }
  .login a{
   display: none;
  }
  .comment{
   font-size: 33px;
  }
  .light-dark{
   font-size: 33px;
  }
  .side-menu{
    width: 280px;
  }
  .slider-container{
   height: 420px;
   width:620px;
  }
  .child-boxes{
    overflow: scroll;
  }
  .box{
   height: 200px;
   width: 140px;
  }
  .category{
    font-size: 16px;
  }
  .swipe-btn{
    height: 198px;
  }
  .input_cont{
    width: 45%;
    max-width: 45%;
  }
  .input_cont1{
    width: 51.8%;
    max-width: 51.6%;
  }
  form .input_cont #name{
    font-size: 13px;
  }
  form .input_cont1 #Email{
    font-size: 13px;
  }
  form .input_cont2 #Subject{
    font-size: 13px;
  }
  form .input_cont3 #message{
    font-size: 13px;
  }
}
@media only screen and (max-width:644px){
  #head{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  .sidebar{
    font-size: 21px;
    height:28px ;
    width: 30px;
    color: #fff;
    border: 1px solid #fff;
  }
  .Es-logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Es-logo i{
    font-size: 58px;
  }

  .brand-name{
   font-size: 14px;
   display: flex;
   position: relative;
   top: 20px;
   left: 0.2px;
   letter-spacing: 1px;
  }
  .panel2{
    display: none;
  }
  .panel3{
    display: none;
  }
  .panel4{
    gap: 17px;
  }
  .language{
    display: none;
  }
  .login a{
   display: none;
  }
  .comment{
   font-size: 30px;
  }
  .light-dark{
   font-size: 30px;
  }
  .copy-right{
    font-size: 12px;
  }
  .company-info{
    visibility: hidden;
  }
  .company-info h4{
    font-size: 8px;
  }
  .company-info a{
    font-size: 7px;
  }
  .feedback-center{
    visibility: hidden;
  }
  .feedback-center h4{
    font-size: 8px;
  }
  .feedback-center a{
    font-size: 7px;
  }
  .icons{
    font-size: 13px;
    /* margin-bottom: 14px; */
  }
  .menu a.active{
    font-size: 15px;
  }
  .menu a:hover{
    font-size: 15px;
  }
  .side-menu{
    width: 270px;
  }
  .user-signin{
   width: 75px;
   font-size: 12px;
  }
  .user-signin a{
    width: 72px;
  }
  .user-signup{
   width: 110px;
   font-size: 11px;
  }
  .slider-container{
   height: 420px;
   width:540px;

  }
  .right-arrow{
    display: none;
  }
  .left-arrow{
    display: none;
  }
  .child-boxes{
    overflow: scroll;
  }
  .box{
   height: 190px;
   width: 130px;
  }
  .category{
    font-size: 16px;
  }
  .swipe-btn{
    height: 190px;
  }
  .input_cont{
    width: 44.8%;
    max-width: 44.8%;
  }
  .input_cont1{
    width: 51%;
    max-width: 51%;
  }
  form .input_cont #name{
    font-size: 13px;
  }
  form .input_cont1 #Email{
    font-size: 13px;
  }
  form .input_cont2 #Subject{
    font-size: 13px;
  }
  form .input_cont3 #message{
    font-size: 13px;
  }
}
@media only screen and (max-width:555px){
  #head{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  .sidebar{
    font-size: 20px;
    height:25px ;
    width: 30px;
    color: #fff;
    border: 1px solid #fff;
  }
  .Es-logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Es-logo i{
    font-size: 57px;
  }

  .brand-name{
   font-size: 13px;
   display: flex;
   position: relative;
   top: 20px;
   left: 0.2px;
   letter-spacing: 1px;
  }
  .panel2{
    display: none;
  }
  .panel3{
    display: none;
  }
  .panel4{
    gap: 15px;
  }
  .language{
    display: none;
  }
  .login a{
   display: none;
  }
  .comment{
   font-size: 29px;
  }
  .light-dark{
   font-size: 29px;
  }
  foot{
    height: 8vh;
  }
  .copy-right{
    font-size: 11.5px;
  }
  .company-info h4{
    font-size: 6px;
  }
  .company-info a{
    font-size: 5px;
  }
  .company-info{
    visibility: hidden;
  }
  .feedback-center{
    visibility: hidden;
  }
  .feedback-center h4{
    font-size: 6px;
  }
  .feedback-center a{
    font-size: 5px;
  }
  .icons{
    font-size: 12.5px;
  }
  .side-menu{
    width: 250px;
  }
  .menu a{
    font-size: 14px;
    height: 1.5vh;
  }
  .menu a.active{
    font-size: 15px;
  }
  .menu a:hover{
    font-size: 15px;
  }
  .search-bar{
    width: 10rem;
  }
  .search-bar input{
    width: 8rem;
  }
  .search-bar i{
    color: grey;
    font-size: 14px;
    padding-right: 7px;
  }
  .search-bar input::placeholder{
    color: black;
    font-size: 11px;
  }
  .user-signin{
   width: 73px;
   font-size: 11px;
  }
  .user-signin a{
    font-weight: 500;
    width: 70px;
  }
  .user-signup{
    width: 100px;
    font-size: 10px;
  }
  .slider-container{
    height: 420px;
    width:450px;
  }
  .right-arrow{
    display: none;
  }
  .left-arrow{
    display: none;
  }
  .child-boxes{
    overflow: scroll;
  }
  .box{
   height: 180px;
   width: 120px;
  }
  .category{
    font-size: 15px;
  }
  .swipe-btn{
    height: 175px;
  }
  .content2{
    padding-top: 2rem;
  }
  .input_cont{
    width: 44%;
    max-width: 44%;

  }
  .input_cont1{
    width: 51%;
    max-width: 51%;
  }
  form .input_cont #name{
    font-size: 12px;
  }
  form .input_cont1 #Email{
    font-size: 12px;
  }
  form .input_cont2 #Subject{
    font-size: 12px;
  }
  form .input_cont3 #message{
    font-size: 12px;
  }
  .page_info{
    font-size: 14px;
  }
  .img_cont1{
    max-width: 15rem;
  }
  .img_description a{
    font-size: 0.75rem;
  }
  footer{
    margin-top: 0.1rem;
  }
}

@media only screen and (max-width:470px){
  #head{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  #btn-up{
   width: 40px;
   height: 40px;
  }
  #btn-up i{
   font-size: 1.2rem;
  }
  .sidebar{
    font-size: 19px;
    height:25px ;
    width: 30px;
    color: #fff;
    border: 1px solid #fff;
  }
  .Es-logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Es-logo i{
    font-size: 55px;
  }

  .brand-name{
   font-size: 12px;
   display: flex;
   position: relative;
   top: 20px;
   left: 0.2px;
   letter-spacing: 1px;
  }
  .panel2{
    display: none;
  }
  .panel3{
    display: none;
  }
  .panel4{
    gap: 15px;
  }
  .language{
    display: none;
  }
  .login a{
   display: none;
  }
  .comment{
   font-size: 28px;
  }
  .light-dark{
   font-size: 28px;
  }
  .copy-right{
    font-size: 11px;
  }
  .company-info h4{
    font-size: 5px;
  }
  .company-info a{
    font-size: 4px;
  }
  .company-info{
    visibility: hidden;
  }
  .feedback-center{
    visibility: hidden;
  }
  .feedback-center h4{
    font-size: 5px;
  }
  .feedback-center a{
    font-size: 4px;
  }
  .icons{
    font-size: 12px;
  }
  .side-menu{
    width: 235px;
  }
  .menu a{
    font-size: 13px;
    height: 1vh;
  }
  .menu a.active{
    font-size: 14px;
  }
  .menu a:hover{
    font-size: 14px;
  }
  .search-bar{
    width: 9rem;
  }
  .search-bar input{
    width: 7rem;
  }
  .search-bar i{
    color: grey;
    font-size: 13px;
    padding-right: 7px;
  }
  .search-bar input::placeholder{
    color: black;
    font-size: 10px;
  }
  .user-signin{
   width: 71px;
   font-size: 10px;
  }
  .user-signin a{
    font-weight: 500;
    width: 68px;
  }
  .user-signup{
   width: 98px;
   font-size: 8px;
  }
  .slider-container{
   height: 420px;
   width:380px;
  }
  .right-arrow{
    display: none;
  }
  .left-arrow{
    display: none;
  }
  .child-boxes{
    overflow: scroll;
  }
  .box{
   height: 170px;
   width: 110px;
  }
  .category{
    font-size: 15px;
  }
  .swipe-btn{
    height: 171px;
  }
  .content2{
    padding-top: 2rem;
  }
  .head1 h2{
    font-size: 2.2rem;
  }
  .input_cont{
    width: 43%;
    max-width: 43%;
  }
  .input_cont1{
    width: 50%;
    max-width: 50%;
  }
  form .input_cont #name{
    font-size: 8px;
  }
  form .input_cont1 #Email{
    font-size: 8px;
  }
  form .input_cont2 #Subject{
    font-size: 8px;
  }
  form .input_cont3 #message{
    font-size: 8px;
  }
  .page_info{
    font-size: 13px;
  }
  .sub-main .sub-main-content{
    padding: 2rem;
  }
  .img_cont1{
    max-width: 15rem;
  }
  .img_description a{
    font-size: 0.75rem;
  }
  footer{
    margin-top: 0.1rem;
  }
}
@media only screen and (max-width:398px){
  #head{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  .sidebar{
    font-size: 18px;
    height:22px ;
    width: 25px;
    color: #fff;
    border: 1px solid #fff;
  }
  .Es-logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Es-logo i{
    font-size: 54px;
  }

  .brand-name{
   font-size: 11px;
   display: flex;
   position: relative;
   top: 20px;
   left: 0.2px;
   letter-spacing: 1px;
  }
  .panel2{
    display: none;
  }
  .panel3{
    display: none;
  }
  .panel4{
    gap: 15px;
  }
  .language{
    display: none;
  }
  .login a{
   display: none;
  }
  .comment{
   font-size: 28px;
  }
  .light-dark{
   font-size: 28px;
  }
  .foot{
    text-align: center;
  }
  .copy-right{
    font-size: 5px;
    display: flex;
  }
  .company-info h4{
    font-size: 4px;
  }
  .company-info a{
    font-size: 3px;
  }
  .company-info{
    visibility: hidden;
  }
  .feedback-center{
    visibility: hidden;
  }
  .feedback-center h4{
    font-size: 4px;
  }
  .feedback-center a{
    font-size: 3px;
  }
  .icons{
    font-size: 6px;
  }
  .side-menu{
    width: 220px;
  }
  .menu a{
    font-size: 12px;
    height: 1vh;
  }
  .menu a.active{
    font-size: 13px;
  }
  .menu a:hover{
    font-size: 13px;
  }
  .search-bar{
    width: 8rem;
  }
  .search-bar input{
    width: 6rem;
  }
  .search-bar i{
    color: grey;
    font-size: 12px;
    padding-right: 7px;
  }
  .search-bar input::placeholder{
    color: black;
    font-size: 9px;
  }
  .user-signin{
   width: 69px;
   font-size: 9px;
  }
  .user-signin a{
    font-weight: 500;
    width: 66px;
  }
  .user-signup{
   width: 96px;
   font-size: 7px;
  }
  .slider-container{
   height: 400px;
   width:330px;
  }
  .right-arrow{
    display: none;
  }
  .left-arrow{
    display: none;
  }
  .child-boxes{
    overflow: scroll;
  }
  .box{
   height: 160px;
   width: 100px;
  }
  .category{
    font-size: 14px;
  }
  .swipe-btn{
    height: 161px;
  }
  .content2{
    padding-top: 2rem;
  }
  .head1 h2{
    font-size: 2rem;
  }
  .description{
    margin-right: 0;
  }
  .page_info{
    margin-right: 1rem;
  }
  .input_cont{
    width: 43%;
    max-width: 43%;
    margin-bottom: 1rem;
  
  }
  .input_cont1{
    width: 49.5%;
    max-width: 49.5%;
    margin-bottom: 1rem;
  }
  .input_cont2{
    margin-bottom: 1rem;
  }
  .input_cont3{
    margin-bottom: 0.5rem;
  }
  .page_info{
    font-size: 13px;
  }
  .sub-main .sub-main-content{
    padding: 1.5rem;
  }
  .img_description a{
    font-size: 0.75rem;
  }
  footer{
    margin-top: 0.1rem;
  }
}
@media only screen and (min-width:1390px) and (max-width:1500px) {
  .search-bar{
    display: none;
  }
  .user-login{
    display: none;
  }
  .panel3 input{
    width: 25rem;
    height: 2vh;
  }
}
/* @media only screen and (max-width:499px){
  .slider-container{
   width:1200px;
  }
  .card-container{
   width: 100%;
  }
  .card{
   min-width: 100%;
   height: 100%;
  }

} */
