*{
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
}
.Sign_in{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #9C27FF;
  height: 100vh;
}
.signin{
  width: 25rem;
  /* border: 2px solid black; */
  height: 25rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  border-radius: 2rem;
  background-color: #EDECED;
  gap: 30px;
  box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5);
}
.signin h2{
  margin-top: 3rem;
  font-weight: bolder;
  font-size: 1.6rem;
}
#user-up{
  border: none;
  align-items: center;
  border-radius: 30px;
  background-color: #fff;
  padding: 5px;
  box-shadow: 0.5px 1px 2px 2px rgba(115, 114, 114, 0.5);
}
.E-mail{
  width: 19rem;
  margin-left: 35px;
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #5A00B5;
}
.E-mail i{
  font-size: 31px;
  padding-top: 2px;
}
.E-mail input{
  height: 40px;
  width: 16rem;
  border: none;
  outline: none;

}
.Password{
  width: 19rem;
  margin-left: 35px;
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #5A00B5
}
.Password i{
  font-size: 31px;
  padding-top: 2px;
}
.Password input{
  height: 40px;
  width: 16rem;
  border: none;
  outline: none;
}
.create_button{
  padding: 20px;
}
#btn{
  padding: 10px;
  width: 10rem;
  font-weight: bold;
  font-size: 14px;
  border-radius: 20px;
  color:  #ffffff;
  background-color: #5A00B5;
  outline: none;
  border: none;
}
.signin p{
  font-size: 14px;
  color: gray;
  bottom: 25px;
  position: relative;
  
}
.signin p a{
  color: #5A00B5;
  text-decoration: none;
}